# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_KALDERA_LEFT
    def_bool $(shields_list_contains,kaldera_left)

config SHIELD_KALDERA_RIGHT
    def_bool $(shields_list_contains,kaldera_right)