if SHIELD_KALDERA_LEFT

config ZMK_KEYBOARD_NAME
    default "Kaldera V2"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_KALDERA_LEFT || SHIELD_KALDERA_RIGHT

config ZMK_SPLIT
    default y

endif